<div class="jumbotron">
  <h1 class="display-6">{{stock.companyName}} ({{stock.symbol }})</h1>
  <hr class="my-4">
<strong>Real-Time Price: </strong>{{stock.latestPrice}}$<br/>
<strong>Previous close: </strong>{{stock.previousClose}}$<br/>
<strong>After Hours: </strong>{{stock.extendedPrice}}$<br/>
<strong>After Hours Change: </strong>{{stock.changePercent}}%<br/>
<strong>Max Price of Day: </strong>{{stock.high}}$<br/>
<strong>Low Price of Day: </strong>{{stock.low}}$<br/>
<strong>52-Week High: </strong>{{stock.week52High}}$<br/>
<strong>52-Week Low: </strong>{{stock.week52Low}}$<br/>
<strong>Percent Change: </strong>{{stock.changePercent}}%<br/>
<strong>YTD: </strong>{{stock.ytdChange}}%<br/>
<strong>Latest Time: </strong>{{stock.latestTime}}<br/>
<strong>Market open: </strong>{{stock.isUSMarketOpen}}<br/> 
</div>


<!--


{{#each stock}}
{{@key}} || {{@this}}<br/>
{{/each}}

-->