<div class="jumbotron">
  <h1 class="display-4">{{stock.companyName}} ({{stock.symbol }})</h1>
<strong>Real-Time Price: </strong>{{stock.latestPrice}}$<br/>
<strong>Previous close: </strong>{{stock.previousClose}}$<br/>
<strong>After Hours: </strong>{{extendedPrice}}$<br/>
<strong>Max Price of Day: </strong>{{stock.high}}$<br/>
<strong>Low Price of Day: </strong>{{stock.low}}$<br/>
<strong>52-Week High: </strong>{{stock.week52High}}$<br/>
<strong>52-Week Low: </strong>{{stock.week52Low}}$<br/>
<strong>Percent Change: </strong>{{stock.changePercent}}%<br/>
<strong>YTD: </strong>{{stock.ytdChange}}%<br/>
<strong>Latest Time: </strong>{{stock.latestTime}}<br/>
<strong>Market open: </strong>{{stock.isUSMarketOpen}}<br/>
</div>

<div class="jumbotron">
  <h1 class="display-4">{{stock.companyName}} ({{stock.symbol }})</h1>
<strong>Real-Time Price: </strong>{{stock.latestPrice}}$<br/>
<strong>Previous close: </strong>{{stock.previousClose}}$<br/>
<strong>After Hours: </strong>{{extendedPrice}}$<br/>
<strong>Max Price of Day: </strong>{{stock.high}}$<br/>
<strong>Low Price of Day: </strong>{{stock.low}}$<br/>
<strong>52-Week High: </strong>{{stock.week52High}}$<br/>
<strong>52-Week Low: </strong>{{stock.week52Low}}$<br/>
<strong>Percent Change: </strong>{{stock.changePercent}}%<br/>
<strong>YTD: </strong>{{stock.ytdChange}}%<br/>
<strong>Latest Time: </strong>{{stock.latestTime}}<br/>
<strong>Market open: </strong>{{stock.isUSMarketOpen}}<br/>
</div>

<!--<h1>{{stock.companyName}} ({{stock.symbol }})<br/><br/></h1>
<br/>
<strong>Real-Time Price: </strong>{{stock.iexRealtimePrice}}$<br/>
<strong>Latest Time: </strong>{{stock.latestTime}}<br/>
<strong>52-Week High: </strong>{{stock.week52High}}$<br/>
<strong>52-Week Low: </strong>{{stock.week52Low}}$<br/>
<strong>Market open: </strong>{{stock.isUSMarketOpen}}<br/>
<strong>Previous close: </strong>{{stock.previousClose}}$<br/>
<strong>Percent Change: </strong>{{stock.changePercent}}%<br/>
<strong>YTD: </strong>{{stock.ytdChange}}%<br/>
<p>{{stock}}</p>
<br/><br/>

{{#each stock}}
{{@key}} || {{@this}}<br/>
{{/each}}
-->